<ul>
<% @apologies.each do |apology|%>
<li>
<%= link_to apology.user.name, apology.user%> <%= link_to "apologises", apology %> for <%= link_to apology.incident.name, apology.incident%>
<%= apology.body %>
# show forgives 
# show edit / remove / forgive buttons
</li>
<% end %>
</ul>