
<b><%= @incident.name%></b>
<br>
<br>
<%= show_apologizers(@incident).html_safe%>
<br>
<br>
<ul>
<% @apologies.each do |a|%>
<li><%= render 'apologies/apology', :locals => {:@apology => a, :@user => a.user, :@incident => a.incident} %></li>
<%end%>
</ul>
<br>
<br>
<%= render 'apologies/form' %>
