<h3>Longest Apologies</h3>
<%= render 'longest_apologies' %>
<h3><a href='/newest_apologies'>Newest Apologies</a></h3>
<h3>All Users</h3>
<%= render 'users'%>
</ul>
<h3>All Incidents</h3>
<%= render 'incidents' %>